# Ignore everything:
*

# except
!linguistik/
!linguistik/*
!sprachspielereien/
!sprachspielereien/einheiten/
!sprachspielereien/einheiten/*
!sprachspielereien/einheiten/**
sprachspielereien/einheiten/external_videos/*
!maerchen/docs/
!marchen/docs/*

!qingdao/
!qingdao/*
.Rproj.user

!temp/
!temp/index.qmd
