p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

time {
  float: right;
  font-size: 80%;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

task {
    margin-bottom: 10px;
    font-weight: bold;
}


q {
  quotes: "„" "“";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.image-container {
  display: flex;
}

.image-container img {
  padding: 15px;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.container {
 display: grid;
 align-items: center;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

details {
  background-color: #F0F0F0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
